ul li a[aria-current="page"]{
    background-color: #004BE1;
    border-radius: 20px 0 0 20px;
    position: relative;
}

ul li a[aria-current="page"]::after{
    content: " ";
    position: absolute;
    background-color: #FFE81A;
    height: 100%;
    width: 8px;
    right: 0;
    top: 0;
    border-radius: 25px 0 0 25px;
}